body{
    font-family: Arial;
    margin: 0px;
    background-color: #35618e;
}
#process{
    margin-top: 100px;
    width: 0%;
    background-color: #baae1c;
    height: 150px;
}
#process-parent{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: row;
}
#process-{
    margin-top: 100px;
    width: 100%;    
    background-color: #295077;
    height: 150px;
}
p{
    font-size: 100px;
    text-align: center;
    color: #baae1c;
}
#unfinished{
    display: block;
}
#finished{
    display: none;
}