@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body{
    font-family: 'Roboto', sans-serif;
    background-color: #709bff;
    color: #f8f9fa;
    margin: 0px;
}
.subliniat{
    text-decoration: underline 5px;
    text-decoration-color: #d0ff00;
}
.centru{
    text-align: center;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.btn1{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
.btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
.btn1:hover{
    color: #e8e8e8;
}
.btn1:hover::before{
    width: 100%;
}