@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body{
    font-family: 'Roboto', sans-serif;
    background-color: #272727;;
    color: #f8f9fa;
    margin: 0px;
}
.subliniat{
    text-decoration: underline 5px;
    text-decoration-color: #1c1a1a;
}
.centru{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid #212121;
    text-align: left;
    padding: 8px;
    font-size: xx-large;
  }
  
  tr:nth-child(even) {
    background-color: #0f0f00;
  }
.btn1{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #f8f9fa;
    z-index: 1;
    background: #272727;;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
.btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
.btn1:hover{
    color: #e8e8e8;
}
.btn1:hover::before{
    width: 100%;
}
.ascuns{
    opacity: 0;
    transform: translateX(-70%);
    transition: all 2200ms;
}
@media(prefers-reduced-motion){
    .ascuns{
        transition: none;
    }
}
.aratat{
    opacity: 1;
    transform: translateX(0%);
}
.btn_small{
    width: fit-content;
    height: 20px;
    color: white;
    background-color: #1a1818;
    border: none;
    transition: ease-in 200ms;
}
.btn_small:hover{
    color: #1a1818;
    background-color: white;
}
footer{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px #1b1919;
    height: 40px;
    width: 100%;
    background-color: #353535;
    color: white;
}
footer div{
    margin-top: 10px;
    margin-right: 30px;
}