#salut{
    background-color: #709bff;
    margin-bottom: 300px;
    margin-top: 200px;
    text-align: center;
    font-size: xx-large;
}

#despre_site{
    max-width: 50%;
    font-size: x-large;
    background-color: #ada7ff;
    width: fit-content;
    height: auto;
    margin-right: 10px;
}
#despre_mine{
    max-width: 50%;
    background-color: #ada7ff;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
}
#despre{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
@media(max-width: 900px){
    #despre{
        flex-direction: column;
    }
    #despre_site{
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #despre_mine{
        max-width: 100%;
        margin-left: 0px;
    }
    #poll{
        min-width: 100%;
        max-width: 100%;
    }
} 
#poll{
    text-align: start;
    background-color: #ada7ff;
    max-width: 40%;
    font-size: x-large;
}
#meg_png{
    transition: 200ms ease-in;
}
#meg_png:hover{
    height: 100px;
    width: 100px;
}
footer{
    height: 20px;
    width: 100%;
    background-color: #6b6798;
    color: white;
}