#salut{
    margin-bottom: 300px;
    margin-top: 200px;
    text-align: center;
    font-size: xx-large;
}
#despre_site{
    max-width: 50%;
    font-size: x-large;
    background-color: #709bff;
    width: fit-content;
    height: auto;
    margin-right: 10px;
}
#despre_mine{
    max-width: 50%;
    background-color: #709bff;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
}
#despre{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width: 900px){
    #despre{
        flex-direction: column;
    }
    #despre_site{
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #despre_mine{
        max-width: 100%;
        margin-left: 0px;
    }
    #anunt_text{
        min-width: 100%;
        max-width: 100%;
    }
    #poll{
        min-width: 100%;
        max-width: 100%;
    }
}
#anunt{
    display: grid;
    font-size: x-large;
    max-width: 100%;
    align-items: end;
    place-items: end;
    text-align: end;
}
#anunt_text{
    text-align: start;
    background-color: #709bff;
    max-width: 40%;
}
.ascuns{
    opacity: 0;
    transform: translateX(-70%);
    transition: all 2200ms;
}
@media(prefers-reduced-motion){
    .ascuns{
        transition: none;
    }
}
.aratat{
    opacity: 1;
    transform: translateX(0%);
}
#poll{
    text-align: start;
    background-color: #709bff;
    max-width: 40%;
    font-size: x-large;
}