#navbar{
    display: flex;
    margin-top: 30px !important;
    margin: auto;
    background-color: #191a1f;
    transform: translateY(-10px);
    font-size: clamp(12px, 3vw, 30px);
    /* border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #353535; */
    width: 80%;
    border-radius: 15px;
    height: 175px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#navbar li{
    margin-left: 25px;
    transition: 150ms ease-in-out;
    list-style: none;
    margin-right: 30px;
}
.navbarElement:hover{
    scale: 1.35;
}
#navbar li:nth-child(1){
    font-size: clamp(30px, 4vw, 50px);
    width: 100%;
    text-align: start;
}
a{
    text-decoration: none;
    color: #f9f9f9;
}
@media (max-width: 750px) {
    #navbar{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 0px !important;
        transform: translateY(0);
    }
    #navbar ul{
        flex-direction: column;
        align-items: center;
    }
    #navbar li{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #navbar li:nth-child(1){
        text-align: center;
    }
}