#navbar{
    margin: 0px;
    transform: translateY(-10px);
    background-color: #0e0e12;
    font-size: large;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #353535;;
}
#navbar ul{
    display: flex;
    justify-content: space-around;
}
#navbar li{
    margin-left: 25px;
    transition: 150ms ease-in-out;
}
#navbar li:hover{
    list-style: "👉";
    transform: translateY(10px);
    scale: 1.35;
}
#navbar li{
    list-style: none;
    margin: 20px;
}
#bara{
    display: none;
    text-align: end;
}
a{
    text-decoration: none;
    color: #f9f9f9;
}
@media (max-width: 900px) {
    #navbar{
        transform: translateY(0px);
    }
    #navbar ul{
        flex-direction: column;
        display: none;
    }
    #navbar li:hover{
        list-style: "👉";
        scale: 1.05;
    }
    #bara{
        display: block;
    }
    #titlu{
        display: block;
    }
    #navbar li{
        text-align: center;
    }
}