@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #171717;
    padding: 0px;
}
#tabla{
    width: 480px;
    height: 360px;
    background-color: #212121;
    color: white;
}
#joaca{
    text-align: center;
    color: white;
    display: block;
}
#joc{
    display: none;
}
#jucatori{
    font-size: 6px;
}
#j_1{
    position: absolute;
    top: 230px;
    left: 100px;
    margin-bottom: 20px;
}
#j_2{
    position: absolute;
    top: 230px;
    left: 185px;
    margin-bottom: 20px;
}
#zar_btn{
    position: absolute;
    top: 210px;
    left: 225px;
    margin-bottom: 20px;
}
.zar{
    height: 25px;
    width: 25px;
    background-color: rgb(170, 0, 255);
    text-align: center;
}
#zar1{
    position: absolute;
    top: 165px;
    left: 200px; 
}
#zar2{
    position: absolute;
    top: 165px;
    left: 260px; 
}
#zar{
    display: none;
}
.btn_zar_s{
    height: 25px;
    width: 50px;
    background-color: rgb(170, 0, 255);
    text-align: center;
    border: none;
    color: white;
    padding: 5px;
    font-size: 12px;
}
#highlighter{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 10px solid red;
}
#text_j1{
    position: absolute;
    top: 280px;
    left: 400px;
}
#text_j2{
    position: absolute;
    top: 280px;
    left: 430px;
}
#anunt{
    position: absolute;
    top: 180px;
    left: 200px;
    background-color: aquamarine;
}
#orase-owneri{
    position: absolute;
    top: 15px;
    font-size: 11px;
}
#bucuresti{
    position: absolute;
    top: 280px;
    left: 310px;
}
#iasi{
    position: absolute;
    top: 280px;
    left: 200px;
}
#timisoara{
    position: absolute;
    top: 280px;
    left: 100px;
}
#cluj{
    position: absolute;
    top: 280px;
    left: 0px;
}
#bacau{
    position: absolute;
    top: 180px;
    left: 0px;
}
#constanta{
    position: absolute;
    top: 80px;
    left: 0px;
}
#suceava{
    position: absolute;
    top: 0px;
    left: 0px;
}
#craiova{
    position: absolute;
    top: 0px;
    left: 110px;
}
#pitesti{
    position: absolute;
    top: 0px;
    left: 210px;
}
#bistrita{
    position: absolute;
    top: 0px;
    left: 310px;
}
#oradea{
    position: absolute;
    top: 0px;
    left: 400px;
}
#targoviste{
    position: absolute;
    top: 80px;
    left: 400px;
}
#galati{
    position: absolute;
    top: 180px;
    left: 400px;
}