.comment{
    width: 400px;
    height: auto;
    min-height: 260px;
    background-color: #212121;
}
.comment h1{
    font-size: x-large;
}
.comment h2{
    font-size: larger;
}
.add_comment{
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
}
#nume{
    background-color: #d0e2bc;
    border: none;
    padding: 10px;
}