#titlu1{
    text-align: center;
    font-size: 70px;
}
.subtitlu{
    font-size: 40px;
    text-align: end;
}
#lista_brainrot{
    font-size: xx-large;
}
#lista_brainrot li{
    list-style: "";
    margin-bottom: 20px;
}
#lista_brainrot li:hover{
    list-style: "🥀";
}