.titlu{
    text-align: center;
    font-size: xx-large;
}
.unproiect{
	font-size: large;
	text-align: center;
	width: 30%;
	height: auto;
	background-color: #ada7ff;
	margin-bottom: 40px;
}
.triproiect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 33%;
}
.doiproiect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 50%;
}
.proiect3{
    width: 30%;
    background-color: #ada7ff;
    height: auto;
}
.proiect h1{
    text-align: center;
    font-size: xx-large;
}
.proiect h2{
    text-align: start;
    font-size: xx-large;
}
.proiect2{
    width: 50%;
    background-color: #ada7ff;
    height: auto;
    margin-left: 10px;
}
@media (max-width: 1000px) {
    .triproiect{
        flex-direction: column;
    }
    .proiect3{
        margin-bottom: 10px;
        width: 100%;
    }
	.unproiect{
		width: 100%;
	}
}
