.titlu{
    text-align: center;
    font-size: xx-large;
}
#proiecte ul{
    list-style-type: none;
}
.proiect button{
    margin-top: 5px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    transition: ease-out 200ms;
}
.proiect button:hover{
    font-size: 70px;
}
@keyframes moveback {
    from{margin: -105px;}
    to{margin:0px;}
}
@keyframes backmove {
    from{margin:0px;}
    to{margin: -105px;}
}
.descriere{
    margin: 0px;
    display: none;
    background-color: #4a4a4a;
    max-width: 470px;
    font-size: x-large;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border: 2px black;
    border-radius: 12px;
    -moz-border-radius: 12px;
    word-wrap: break-word; 
}
.descriere p{
    margin: 2px;
}
.descriere svg{
    margin: 10px;
}
.descriere path{
    transition: linear 150ms;
}
.GithubSvg:hover path{
    fill: #000;
}
.PlaySvg polygon, circle{
    transition: linear 150ms;
}
.PlaySvg:hover polygon{
    fill:#fff;
}
.PlaySvg:hover circle{
    fill:#000;
}
.DownloadSvg path, text, rect{
    transition: linear 200ms;
}
.DownloadSvg:hover path{
    stroke: #fff;
}
.DownloadSvg:hover text{
    fill: #fff;
}
.DownloadSvg:hover rect{
    fill: #000;
}
.WebSvg g, path{
    transition: linear 150ms;
}
.WebSvg:hover path{
    fill: #000;
}