.postare{
    min-width: 450px;
    height: 400px;
    background-color: #444F5A;
    margin-left: 20px;
    margin-bottom: 20px;
}
#postari{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    place-items: center;
    margin-bottom: 20px;
}
.postare_titlu{
    text-align: center;
    font-size: large;
}
@media(max-width: 1900px){
    #postari{
        grid-template-columns: auto auto;
    }
}
@media(max-width: 1200px){
    #postari{
        flex-direction: column;
    }
}
@media(max-width: 1000px){
    #postari{
        grid-template-columns: auto;
    }
}
@media(max-width: 450px){
    .postare{
        min-width: 300px;
    }
    .postare img{
        width: 300px;
    }
}